In [5]:
import os
import pandas as pd

current_dir = os.getcwd()
path_file = os.path.join(current_dir, "defects_data.csv")
df = pd.read_csv(path_file, header=0)

In [6]:
from sklearn.preprocessing import LabelEncoder

df = df.drop(['defect_date', 'defect_id'], axis=1)

label_encoders = {}

categorical_columns = ['defect_type', 'defect_location', 'severity', 'inspection_method']

for column in categorical_columns:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

df.head(20)

,product_id,defect_type,defect_location,severity,inspection_method,repair_cost
0,15,2,0,1,2,245.47
1,6,1,0,1,2,26.87
2,84,2,1,1,0,835.81
3,10,1,1,0,0,444.47
4,14,0,0,1,1,823.64
5,17,1,1,2,2,788.11
6,85,0,1,0,1,33.68
7,90,2,1,2,1,65.56
8,30,2,0,0,1,848.61
9,20,2,0,0,2,478.48
10,45,2,2,2,0,217.96
11,86,2,0,1,1,485.02
12,87,0,0,1,2,714.63
13,72,0,2,0,1,603.94
14,74,0,0,0,1,189.55
15,10,1,0,1,0,458.79
16,53,2,1,1,2,509.35
17,63,0,0,0,2,538.99
18,28,1,1,0,1,34.93
19,81,2,1,2,1,557.11

In [7]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df)
profile.to_file('profile_output.html')

Summarize dataset: 100%|██████████| 19/19 [00:01<00:00, 12.36it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.54s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  3.23it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 171.90it/s]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         1000 non-null   int64
 1   defect_type        1000 non-null   int64
 2   defect_location    1000 non-null   int64
 3   severity           1000 non-null   int64
 4   inspection_method  1000 non-null   int64
 5   repair_cost        1000 non-null   float64
dtypes: float64(1), int64(5)
memory usage: 47.0 KB